$predominante: #FF4C4C;
$fondo: #f9f9f9;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
    font-family: 'Roboto Slab', serif;
}
header{
    height: 100vh;
    background: url('../imgs/cre_01.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    nav{
        #navbarColor01{
            .active{
                color: $predominante !important;
            }
        }
    }
    .texto{
        height: 100vh;
        display: flex;
        align-items: center;
        .textos{
            .title{
                color: #D2D1D1;
                font-size: 2.5rem;
            }
            .parrafo{
                color: #E7E6E6;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
        }
        
    }
    .opacidad{
        opacity: 0.8 !important;
    }

    
}

main{
    .services{
        margin-top: 80px;
        .title{
            h3{
                font-size: 1.8rem;
                color: $predominante;
                font-weight: 300;
                letter-spacing: 1px;
            }
            hr{
                width: 10%;
                border: 1px solid $predominante;
            }
        }
        .list{
            margin-top: 50px;
            .item-list{
                .icono{
                    font-size: 1.5rem;
                    text-align: center;
                    i{
                        color: $predominante;
                    }
                }
                .service{
                    .service-title{
                        font-size: 1.2rem;
                    }
                    .service-pha{
                        margin-top: 20px;
                        text-align: justify;
                    }
                }
            }
        }
    }

    .skills{
        background: $fondo;
        margin-top: 80px;
        .imagen{
            
            background: url('../imgs/cre_01-47.jpg');
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
        }

        .trabajo{
           
            padding: 30px;
            margin-top: 40px;
            
            .titulo{
                font-size: 1.8rem;
                color: $predominante;
                font-weight: 300;
                letter-spacing: 1px;
                text-align: center;
            }
            hr{
                width: 10%;
                border: 1px solid $predominante;
            }
            .parrafo{
                margin-top: 20px;
                line-height: 30px;
                text-align: justify;
            }
        }

        .vision{
            padding: 30px;
            .titulo{
                font-size: 1.3rem;
                color: $predominante;
                font-weight: 300;
                letter-spacing: 1px;
                text-align: center;
            }
            hr{
                width: 10%;
                border: 1px solid $predominante;
            }
            .parrafo{
                margin-top: 20px;
                line-height: 30px;
                text-align: justify;
                font-size: .8rem;
            }
        }

        .certifica{
            padding: 30px;
            
        }

        .certificados{
            padding: 30px;
            .certificado-t{
                .titulo{
                    font-size: 1.3rem;
                    color: $predominante;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-align: center;
                }
                hr{
                    width: 10%;
                    border: 1px solid $predominante;
                }
            }
            .certificado-file{
                margin-top: 20px;
                h3{
                    font-size: 1.3rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    
                }
                p{
                    margin-top: 20px;
                    font-size: .8rem;
                }
            }
        }
    }

    .proyectos{
        margin-top: 100px;
        .title{
            h3{
                font-size: 1.8rem;
                color: $predominante;
                font-weight: 300;
                letter-spacing: 1px;
            }
            hr{
                width: 10%;
                border: 1px solid $predominante;
            }
        }
        .list-proyectos{
            margin-top: 60px;
            .proyecto{
                border: none !important;
            }
        }
    }

    .customers{
        /*background: $fondo;*/
        margin-top: 80px;
        
        .title{
            /*margin-top: 80px;*/
            h3{
                font-size: 1.8rem;
                color: $predominante;
                font-weight: 300;
                letter-spacing: 1px;
            }
            hr{
                width: 10%;
                border: 1px solid $predominante;
            }
        }
        .fila-comentarios{
            margin-top: 50px;

            .fila-carrousel{
                /*margin-bottom: 100px;*/
                .carousel-indicators{
                    left: 0;
                    top: -50px;
                    height: 50%;
                    
                    .indicador{
                        border-radius: 50%;
                        background: $predominante !important;
                        width: 20px;
                    }
                }
                .comentarios{
                    .comentario{
                        .texto-comentario{
                            .texto{
                                .parrafo{
                                    color: #808080;
                                    line-height: 30px;
                                }
                            }
                        }
                        .cliente{
                            margin-top: 20px;
                            .imagen{
                                
                                img{
                                    border-radius: 50% !important;
                                }
                            }
                            .nombre{
                                .nombre-cliente{
                                    font-size: .8rem;
                                }
                            }
                        }
                       
                    }
                }
            }
           
            
        }
    }

    .contacto{
        margin-top: 100px;
        background: url('../imgs/cre_01.jpg');
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        
        .title{
            margin-top: 80px;
            h3{
                font-size: 1.8rem;
                color: #f9f9f9;
                font-weight: 300;
                letter-spacing: 1px;
            }
            hr{
                width: 10%;
                border: 1px solid #f9f9f9;
            }
        }

        .formulario{
            margin-top: 50px;
            
            .correo{
                .escribenos{
                    color: #ffffff;
                }
                .card-correo{
                    color: #070707;
                }
            }
            .mapa{
                margin-bottom: 80px;
                color: #ffffff;
                .mapa-title{
                    color: #ffffff;
                    font-size: 1.3rem;
                }
            }
        }
        
    }

}

footer{
    background: $predominante;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
}

.myBtn2 {
    width: 50px;
    height: 50px;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: $predominante;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    text-align: center;
    padding: 10px;
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    
}

@media only screen and (max-width: 600px) {
    main{
        .services{
            
            .list{
               
                .item-list{
                    padding: 20px;
                    .service{
                        text-align: center;
                    }
                }
            }
        }

        .skills{
            
            .vision{
               .mtv{
                   margin-top: 30px;
               }
            }

            .certificados{
               
                .certificado-file{
                    margin-top: 40px;
                    
                }
            }
        }

        .contacto{
        
            .correo{
                .escribenos{
                    text-align: center;
                }
                
            }
            .mapa{
                margin-top: 20px;
                text-align: center;
            }
            
            
        }
    }
    
}